<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>aTaohMall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7202E0B31C9AA7E100B2FA42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7202E0CC1C9AA7E100B2FA42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7202E0D71C9AA7E100B2FA42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
